# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production build
build/
dist/

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
yarn-error.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE Specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Parcel cache (for Vite or Parcel)
.cache/

# macOS system files
._*
.Spotlight-V100
.Trashes

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# React Native
.expo/
.expo-shared/

# VSCode settings
.vscode/

# React Error logs
*.error

# Lock files (choose only one if you use npm or yarn)
package-lock.json
yarn.lock